@import base

@keyframes robot
	0%
		top: 350%
	40%
		top: 15%
	100%
		top: 50%

@keyframes robot--img
	0%
		transform: translate(0, 6%)
	50%
		transform: translate(0, -2%)
	100%
		transform: translate(0, 6%)

@keyframes nav-animation
	0%
		transform: translate(70px, -50%)
	60%
		transform: translate(-15px, -50%)
	100%
		transform: translate(0, -50%)

// -----CONTAINER-----
.container
	width: 100%
	max-width: 1200px
	padding: 0 15px
	margin: 0 auto

	+r(1200)
		max-width: 992px

	+r(992)
		max-width: 768px

	+r(767)
		max-width: 576px

	+r(576)
		max-width: 480px

// -----BUTTON-----
.btn
	position: relative
	display: flex
	justify-content: center
	align-items: center
	height: 40px
	font-size: 16px
	color: $accent
	font-weight: 700
	border-radius: 25px
	max-width: fit-content
	border: 1px solid #fff
	min-width: 200px
	text-transform: uppercase
	color: #ffffff
	font-weight: 400
	letter-spacing: 1px
	padding: 0 15px

	+r(767)
		font-size: 14px

	+r(480)
		min-width: fit-content

	&:hover,
	&:focus
		border: 1px solid $accent
		background: $accent
		color: #fff

	&--big
		min-width: 230px
		height: 50px
		font-size: 14px

	&--accent
		background-color: $accent
		border-color: $accent

		&:hover
			box-shadow: 0 0 14px 0 rgba($accent, 1)

		&:active
			box-shadow: 0 0 6px 0 rgba($accent, 1)

	&--center
		margin: 0 auto

// -----HAMBURGER-----
.hamburger
	position: relative
	display: flex
	padding: 0
	border: none
	background-color: transparent
	transition: all .3s
	width: 25px
	height: 18px
	margin-right: 15px
	outline: none

	&:hover
		span
			background-color: $accent

			&::before,
			&::after
				background-color: $accent

	&__item
		position: absolute
		left: 0
		top: 50%
		transform: translate(0, -50%)
		width: 12px
		height: 2px
		background-color: $text
		border-radius: 4px
		+transition
		bottom: 0

		&::before,
		&::after
			content: ''
			display: block
			position: absolute
			left: 0
			background-color: $text
			height: 2px
			+transition

		&::before
			top: 7px
			width: 18px

		&::after
			top: -7px
			width: 25px

	&--active
		z-index: 100

		&:hover
			span
				background-color: transparent

				&::before,
				&::after
					background-color: $accent

		.hamburger__item
			background-color: transparent

			&::before
				top: 0
				width: 25px
				transform: rotate(45deg)

			&::after
				top: 0
				width: 25px
				transform: rotate(-45deg)


.h1
	text-transform: uppercase
	color: #ffffff
	font-size: 70px
	font-weight: 900
	text-align: center
	margin-bottom: 40px

	+r(1200)
		font-size: 55px

	+r(992)
		font-size: 44px

	+r(767)
		font-size: 36px
		margin-bottom: 20px

	+r(480)
		font-size: 26px

	span
		color: $accent


.h2
	font-size: 36px
	margin-bottom: 5px

	+r(992)
		font-size: 30px

	+r(767)
		font-size: 26px

	+r(480)
		font-size: 20px

.h3
	text-transform: uppercase
	font-weight: 700
	font-size: 14px


.header
	position: fixed
	top: 0
	right: 0
	left: 0
	padding: 10px 0
	z-index: 100

	&__container
		+between

	&__logo
		width: 190px

		+r(992)
			width: 150px

		+r(480)
			width: 110px

		img
			width: 100%
			height: auto

	&__login
		position: relative
		display: flex
		align-items: center
		font-size: 16px
		color: #ffffff

		+r(480)
			font-size: 14px

		&:hover
			ul
				top: 100%
				visibility: visible
				opacity: 1
				transition: all .6s

		&_profile
			position: relative
			display: flex
			align-items: center
			color: #ffffff
			padding: 10px 20px 10px 0

			&::after
				+transition
				content: ''
				position: absolute
				right: 0
				margin-top: 14px
				margin-left: 8px
				border-bottom: 8px solid transparent
				border-left: 5px solid transparent
				border-right: 5px solid transparent
				border-top: 8px solid #fff

			&:hover
				color: #ffffff
				text-decoration: underline

				&::after
					margin-top: 0
					border-bottom: 8px solid #fff
					border-top: 8px solid transparent

		img
			margin-right: 5px

			+r(992)
				width: 16px

		ul
			position: absolute
			top: 170%
			right: -5px
			min-width: 160px
			max-width: 250px
			background-color: #ffffff
			border-radius: 40px
			padding: 5px 0
			visibility: hidden
			opacity: 0
			transition: all .3s

			li
				display: flex
				justify-content: center
				align-items: center
				color: $text
				padding: 10px
				margin-bottom: 5px
				padding: 5px

				&:last-child
					margin-bottom: 0

			a
				display: flex
				justify-content: center
				align-items: center
				color: $text

				&:hover
					color: $accent
					text-decoration: underline

	&--page
		background-color: #2b2626


.hero
	+cover
	background-image: url(../img/bg.jpg)
	padding: 90px 0
	min-height: 100vh
	display: flex
	justify-content: center
	align-items: center
	color: #ffffff
	overflow: hidden

	+r(767)
		align-items: flex-start

	+r(576)
		padding: 30% 0

	&__container
		position: relative
		z-index: 1

	&__desc
		max-width: 64%

		+r(767)
			max-width: 100%

	&__subtitle
		text-align: center
		font-size: 24px
		margin-bottom: 55px

		+r(992)
			font-size: 20px
			margin-bottom: 45px

		+r(767)
			margin-bottom: 20px

		+r(480)
			font-size: 18px

	&__img
		position: absolute
		left: 45%
		top: 50%
		transform: translate(0, -50%)
		z-index: -1
		max-height: 100vh
		animation: 4s ease robot

		+r(1200)
			left: 40%

		+r(992)
			left: 50%

		+r(767)
			left: 50%
			transform: translate(-50%, 20%)

		img
			animation: 6s ease infinite robot--img

			+r(992)
				max-height: 50vh

			+r(767)
				height: 70vh
				margin-top: 40px


.login
	margin: 0 auto
	width: 100%
	max-width: 365px
	text-align: center

	p
		margin-bottom: 15px

		+r(767)
			margin-bottom: 10px

	a
		color: $accent

		&:hover
			text-decoration: underline

	&__soc
		display: flex
		justify-content: center
		align-items: center
		margin-bottom: 15px

		a, svg, path, circle
			+transition

		a
			display: block
			width: 36px
			height: 36px
			margin-right: 15px

			&:hover
				transform: scale(1.05)

				circle
					fill: $accent

				path
					color: #ffffff

			&:active
				transform: scale(.9)

			&:last-child
				margin-right: 0

		svg
			width: 100%
			height: 100%

	&__remember
		display: flex
		justify-content: space-between
		align-items: center
		margin-top: 25px

		+r(767)
			margin-top: 15px

		label
			position: relative
			padding-left: 25px
			color: #fff
			cursor: pointer
			margin-bottom: 0
			margin-right: 0

			&::before,
			&::after
				+transition
				content: ''
				position: absolute
				left: 0

			&::before
				width: 16px
				height: 16px
				border-radius: 50%
				border: 4px solid $accent

			&::after
				width: 10px
				height: 10px
				border-radius: 50%
				background: $accent
				left: 3px
				top: 3px

		input[type="checkbox"]
			display: none

		input[type="checkbox"]:checked + label::after
			transform: scale(1)

		input[type="checkbox"] + label::after
			transform: scale(0)

	&__pass
		position: relative

		button
			+cover
			background-image: url(../img/visible.svg)
			position: absolute
			top: 50%
			right: 15px
			transform: translate(0, -50%)
			width: 25px
			height: 25px
			border: 0
			background-color: transparent
			z-index: 10

			&:hover
				transform: translate(0, -50%) scale(1.1)

			&:active
				transform: translate(0, -50%) scale(.9)

		.hidden
			background-image: url(../img/hidden.svg)

	&__btn
		margin-top: 35px
		margin-bottom: 35px !important

		+r(767)
			margin-top: 20px
			margin-bottom: 20px !important


.nav
	position: fixed
	right: 15px
	top: 50%
	transform: translate(0, -50%)
	background-color: #ffffff
	z-index: 1000
	box-shadow: 0 3px 12px rgba(46, 46, 106, 0.3)
	padding: 10px 6px
	border-radius: 31px
	width: 62px
	overflow: hidden
	animation: 1.3s ease nav-animation
	+transition

	+r(992)
		right: 5px
		padding: 6px 3px
		width: 52px

	+r(576)
		right: 0
		width: 37px
		font-size: 12px
		border-radius: 13px

	&:hover
		width: 285px

		+r(992)
			width: 250px

		p
			visibility: visible
			opacity: 1

	span
		display: flex
		justify-content: center
		align-items: center
		flex-shrink: 0
		width: 50px
		height: 50px
		border-radius: 50%
		border: 1px solid #2B2626
		background-color: #ffffff
		z-index: 1
		+transition

		+r(992)
			width: 46px
			height: 46px

		+r(576)
			width: 30px
			height: 30px

	a
		position: relative
		display: flex
		justify-content: flex-end
		align-items: center
		border-color: transparent
		width: 100%
		margin-bottom: 15px

		&::before
			content: ''
			display: block
			position: absolute
			right: -7px
			top: 0
			bottom: 0
			width: 50px
			background-color: #ffffff
			z-index: 1

		&:last-child
			margin-bottom: 0

		&:hover
			span
				border-color: rgba($accent, .65)

			path
				fill: rgba($accent, .85)
			
			p
				color: $accent

		path
			fill: #9F9FAD

		span
			border-color: transparent

	p
		position: absolute
		right: 65px
		left: 0
		top: 50%
		transform: translate(0, -50%)
		text-transform: uppercase
		color: $text
		font-weight: 700
		padding-left: 25px
		width: 200px
		visibility: hidden
		opacity: 0
		+transition

		+r(992)
			right: 60px
			padding-left: 10px

	svg
		max-width: 60%
		max-height: 60%

	&__menu
		margin-bottom: 15px
		margin-right: 0
		margin-left: auto

	&__active
		span
			border-color: $accent !important

		path
			fill: $accent !important

		p
			color: $accent


.section
	padding-top: 69px
	background-color: #efeff2
	min-height: 100vh
	height: auto
	background-position: 0 0
	background-repeat: no-repeat
	background-image: url(../img/pattern.png)
	color: $text
	overflow: hidden

	+r(992)
		padding-top: 60px

	.h2
		font-weight: 400
		margin-bottom: 30px

		+r(992)
			margin-bottom: 15px

	.container
		min-height: calc(100vh - 69px)

	&__container
		position: relative
		z-index: 1
		min-height: calc(100vh - 69px)

	&__bg
		height: 100%

		&::before
			content: ''
			position: absolute
			left: 0
			top: 0
			right: 0
			width: 100vw
			min-height: calc(100vh - 69px)
			height: 100%
			background-color: #ffffff
			border-radius: 50px 0px 0px 50px
			z-index: -1

			+r(576)
				border-radius: 25px 0px 0px 25px

	&__wrap
		padding: 30px
		display: flex
		flex-direction: column
		justify-content: space-between
		min-height: calc(100vh - 69px)

		+r(1200)
			padding: 20px

		+r(576)
			padding: 10px

	&__services
		display: grid
		grid-template-columns: 1fr 1fr 1fr

		+r(767)
			grid-template-columns: 1fr 1fr

		+r(576)
			grid-template-columns: 1fr

		&_item
			position: relative
			display: flex
			flex-direction: column
			border: 1px solid #E5E5ED
			border-radius: 3px
			text-align: center
			top: 0
			+transition

			&::before,
			&::after
				content: ''
				position: absolute
				left: 0
				right: 0
				height: 4px
				width: 100%
				background-color: $accent
				border-radius: 3px
				opacity: 0
				+transition

			&::before
				+r(576)
					opacity: 0 !important

			&::after
				bottom: 0

				+r(576)
					opacity: 1

			&:hover
				top: -3px
				box-shadow: 0px 0px 19px 5px rgba(46, 46, 106, 0.16)

				+r(576)
					top: 0

				&::before,
				&::after
					opacity: 1

		&_header
			padding: 25px 10px

			+r(992)
				padding: 15px 10px

		.h3
			margin-bottom: 10px

			+r(992)
				margin-bottom: 5px

		&_price
			margin-bottom: 10px
			font-size: 36px
			color: $accent

			+r(992)
				font-size: 26px
				margin-bottom: 5px

		&_date
			font-size: 12px

		&_list
			color: #9f9fad

			li
				border-top: 1px solid #E5E5ED
				padding: 18px 10px

				+r(992)
					padding: 10px

				&:last-child
					border-bottom: 1px solid #E5E5ED

		&_footer
			padding: 25px 10px
			flex-grow: 1
			display: flex
			flex-direction: column
			justify-content: flex-end

			+r(992)
				padding: 10px

		&_connected
			margin-top: 15px
			text-transform: uppercase
			color: $accent
			font-weight: 700

			+r(767)
				margin-top: 10px

	&__footer
		display: flex
		justify-content: space-between
		align-items: center
		flex-wrap: wrap
		padding-top: 20px

		+r(767)
			flex-direction: column

		&_question
			text-transform: uppercase
			color: #9f9fad

			+r(767)
				margin-bottom: 10px

			&:hover
				color: #0088ec

				path
					fill: #0088EC

			svg
				margin-right: 25px

				+r(992)
					width: 25px
					margin-right: 10px

		&_nav
			display: flex
			flex-wrap: wrap

			+r(767)
				flex-direction: column
				text-align: center

			li
				margin-right: 22px

				+r(767)
					margin-right: 0
					margin-bottom: 10px

				&:last-child
					margin-right: 0

					+r(767)
						margin-bottom: 0

			a
				color: #0088ec
				text-decoration: underline

				&:hover,
				&:focus
					color: $accent
					text-decoration: underline

	&__payment
		display: flex
		justify-content: space-between
		align-items: center
		flex-wrap: wrap
		margin-bottom: 15px

		&_price
			display: flex
			align-items: center
			font-weight: 600

			span
				font-size: 12px

			svg
				margin-right: 15px

				+r(992)
					width: 25px
					margin-right: 10px

		&_info
			display: flex
			flex-wrap: wrap
			text-transform: uppercase

			+r(992)
				font-size: 12px

			a
				color: $text
				margin-right: 65px

				+r(992)
					margin-right: 15px

				&:hover
					color: $accent

					path
						fill: $accent

				&:last-child
					margin-right: 0

			path
				fill: #9F9FAD

			svg
				margin-right: 7px

				+r(992)
					margin-right: 5px
					width: 17px

	&__table
		text-align: center

		tr
			&:first-child
				border-bottom: 1px solid #E5E5ED

			+r(576)
				border-bottom: 1px solid $accent

		td, th
			padding: 15px

			+r(1200)
				padding: 10px

			+r(992)
				padding: 5px
				font-size: 12px

			+r(576)
				display: block
				font-size: 14px

		th
			font-weight: 400
			color: #9f9fad

			+r(576)
				display: none

		td
			+r(576)
				display: flex
				text-align: left
				margin-right: 10px
				border-bottom: 1px solid #E5E5ED

			&::before
				content: attr(data-info)
				display: none
				width: 45%

				+r(576)
					display: block
					flex-shrink: 0



		&_text
			color: #9f9fad

		&_green
			color: #5ec66e

		&_red
			color: #CB3F3F

	&__themes
		text-align: center

		tr
			position: relative

			&:hover
				border-radius: 30px

				td
					background-color: #F3F3F9

		td, th
			+r(767)
				width: auto !important

			+r(576)
				padding: 7px

			&:nth-child(1)
				border-top-left-radius: 30px
				border-bottom-left-radius: 30px

			&:nth-child(2)
				width: 55%
				text-align: left

			&:nth-child(3)
				width: 25%
				border-top-right-radius: 30px
				border-bottom-right-radius: 30px

		&_icon
			svg
				display: block
				margin: 0 auto

				+r(576)
					margin-left: 0

		&_info
			div
				display: flex
				align-items: center
				justify-content: center

			a
				display: flex
				justify-content: center
				align-items: center
				width: 25px
				height: 25px
				margin-right: 30px

				+r(1200)
					margin-right: 20px

				+r(992)
					margin-right: 15px

				+r(767)
					margin-right: 10px

				&:last-child
					margin-right: 0

				&:hover,
				&:active
					path
						fill: $accent

			svg
				max-width: 100%

			path
				fill: #9F9FAD







